<div class="row">
  <div class="col-lg-6">
    <fieldset>
      <%= form_tag(photos_path, method: :post, multipart: true, class: 'form', id: 'create_photos_form') do %>
        <input type="hidden" name="token" id="users_token" class="form-control" placeholder="token" value="<%= current_user.token if user_signed_in? %>" />
        <div class="form-group">
          <textarea name="comment" rows="6" class="form-control" placeholder="Leave your comments and #tags"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Upload" />
        </div>
      <% end %>
    </fieldset>
  </div>
</div>