<h1>Photos <a href="#" id="refresh" class="glyphicon glyphicon-refresh"></a></h1>

<div id="photos" class="photos" data-preload-url="<%= photos_path(format: :json) %>">
  loading...
</div>

<div id="preload_photos" style="display:none"></div>

<div id="photo_more" class="row">
  <ul class="pager col-lg-12">
    <li class="more-btn">
      <a href="#" id="load_more" style="width:20%">Load more...</a>
      <a class="bar" style="width:20%;display:none"><div class="barFill">Loading...</div></a>
    </li>
  </ul>
</div>

<script type="text/x-handlebars-template" id="tpl_photo">
  <div class="item">
    <a href="/photos/{{photo.id}}.html" class="to-photo"><img src="{{photo.image.thumb}}" class="loading" /></a>
    <div class="author">{{photo.author.name}}</div>
  </div>
</script>

<div class="modal fade" id="modal_photos_show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
