<div class="container">
  <div class="text">
    <ul>
      <li><a href="#auth">Authentication</a></li>
      <li><a href="#upload">Upload photo</a></li>
      <li><a href="#photos">Photos feed</a></li>
    </ul>

    <%= render 'about/auth' %>
    <%= render 'about/upload' %>
    <%= render 'about/photos' %>

  </div>
</div>
