<div class="container">
  <div class="text">
    <div class="row">
      <div class="col-lg-7">
        <h2>About Imonno & Imagenary</h2>
        <p>
          <a href="http://imonno.ru">http://imonno.ru</a> - it's just example of using <a href="https://github.com/ufacode/imagenary">Imagenary</a> open source photo blogging platform.
        </p>

        <h2>How to support us?</h2>
        <p>
          via GitTip<br/>
          <script data-gittip-username="mpakus" src="//gttp.co/v1.js"></script>
        </p>
        <p>
          via Yandex.Деньги<br/>
          <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=41001181926722&quickpay=donate&payment-type-choice=on&default-sum=&targets=for+Imagenary+-+photo+blogging+and+sharing+platform&target-visibility=on&project-name=Imagenary&project-site=http%3A%2F%2Fimonno.ru&button-text=05&fio=on&mail=on" width="508" height="131"></iframe>
        </p>
        <p>

        </p>

        <h3>Contacts</h3>
        <p>
          Renat Ibragimov project coordinator:<br/>
          E-mail: <a href="mailto:info@aomega.co">info@aomega.co</a><br/>
          Skype: ex.tenebris
        </p>

        <h3>License</h3>
        <p>
          The MIT License (MIT)<br/>
          <br/>
          Copyright (c) 2014 "Imagenary"<br/>
          <br/>
          Permission is hereby granted, free of charge, to any person obtaining a copy
          of this software and associated documentation files (the "Software"), to deal
          in the Software without restriction, including without limitation the rights
          to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
          copies of the Software, and to permit persons to whom the Software is
          furnished to do so, subject to the following conditions:<br/>
          <br/>
          The above copyright notice and this permission notice shall be included in
          all copies or substantial portions of the Software.<br/>
          <br/>
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
          THE SOFTWARE.
        </p>
      </div>
      <div class="col-lg-5">
        <h2>Clients & source code</h2>
        <h3>Windows Phone 7.5 & 8 client</h3>
        <a href="http://www.windowsphone.com/s?appid=fd77a0f4-3ddf-4605-98cd-fbaf57124052"><%= image_tag('windows-store-icon.jpg', alt: 'Download and install from Windows Store', class: 'win-store' ) %></a>

        <h3>Source code</h3>
        <p>
          <b>Web application</b> written on Ruby on Rails 4, MySQL database, CoffeeScript: <a href="https://github.com/ufacode/imagenary">https://github.com/ufacode/imagenary</a><br/>
          Author: Renat Ibragimov <a href="https://github.com/mpakus">GitHub</a>
        </p>
        <p>
          <b>Windows Phone 7.5 & 8 client</b> written on C# & .NET framework <a href="https://github.com/ufacode/imagenary.wp">https://github.com/ufacode/imagenary.wp</a><br/>
          Author: Alex Zaozerskiy <a href="https://github.com/AlexandrYZ">GitHub</a>
        </p>
        <p>
          <b>iOS client</b> written on Objective C (sorry, not ready yet) <a href="https://github.com/ufacode/">https://github.com/ufacode/</a><br/>
          Author: Ildar Yulanov <a href="https://github.com/iyulan">GitHub</a>
        </p>
        <p>
          and yes, we are looking someone who can help us to create <b>Android client</b>!
        </p>
      </div>
    </div>

  </div>
</div>
